<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{include file="public:top"}
		<block name="topCss">
		<!--iCheck css-->
		<link rel="stylesheet" href="__STATIC__/plugins/iCheck/all.css">
		</block>
		<style type="text/css">
			.listul,.listul li{
				list-style-type: none;
			}
			.listul li{
				float: left;
			}
		</style>
	</head>

	<body class="app ">

		<div id="spinner"></div>

		<div id="app">
			<div class="main-wrapper" >
				{include file="public:header"}
				{include file="public:menu"}
				<block name="bodsy">
				<div class="app-content">
					<section class="section">
						<ol class="breadcrumb">
					        <li class="breadcrumb-item"><a href="{:url('index/index')}">首页</a></li>
                            <li class="breadcrumb-item"><a href="{:url('role/index')}">角色页面</a></li>
                            <li class="breadcrumb-item active" aria-current="page">权限分配</li>
					    </ol>
						
						<div class="row">
							<div class="col-lg-12 col-xl-2 col-md-12 col-sm-12"></div>
							<div class="col-lg-12 col-xl-8 col-md-12 col-sm-12">
								<div class="card ">
									<div class="card-header">
										<h4>后台权限分配</h4>
									</div>
									<div class="card-body cards">
										<form id="form" class="form-horizontal" onsubmit="return false"  method="post" enctype="multipart/form-data"  target="addfile">
											<input type="hidden" name="id" value="{$id}" id="id">
											<div class="form-group row">
												<ul id="demo" class="listul">
													{volist name="access" id="vo"}
													<li class="col-md-12" style="font-size: 40px;">
														{if condition="$vo['flag'] eq 1"}
														<input  type="checkbox" name="choice" value="{$vo.id}" id="{$vo.id}" checked />
														<label for="{$vo.id}">{$vo.title}</label>
														{else/}
														<input  type="checkbox" name="choice" value="{$vo.id}" id="{$vo.id}" />
														<label for="{$vo.id}">{$vo.title}</label>
														{/if}
														{if condition="$vo['children'] neq ''"}
														<ul  class="col-md-12">
															{volist name="vo.children" id="cvo"}
															<li class="col-md-12" style="font-size: 18px;">
																{if condition="$cvo['flag'] eq 1"}
																<input  type="checkbox" name="choice" value="{$cvo.id}" id="{$cvo.id}" checked />
																<label for="{$cvo.id}">{$cvo.title}</label>
																{else/}
																<input  type="checkbox" name="choice" value="{$cvo.id}" id="{$cvo.id}" />
																<label for="{$cvo.id}">{$cvo.title}</label>
																{/if}
																{if condition="$cvo['children'] neq ''"}
																<ul  class="col-md-12"> 
																	{volist name="cvo.children" id="ccvo"}
																	<li  class="col-md-2" style="float: left;">
																		{if condition="$ccvo['flag'] eq 1"}
																		<input  type="checkbox" name="choice" value="{$ccvo.id}" id="{$ccvo.id}" checked />
																		<label for="{$ccvo.id}">{$ccvo.title}</label>
																		{else/}
																		<input  type="checkbox" name="choice" value="{$ccvo.id}" id="{$ccvo.id}" />
																		<label for="{$ccvo.id}">{$ccvo.title}</label>
																		 {/if}
																	</li>
																	{/volist}
																</ul>
																{/if}
															</li>
															{/volist}
															
														</ul>
														{/if}
													</li>
													{/volist}
												</ul>
												
											</div>
											<div class="form-group mb-0 mt-2 row justify-content-end ">
												<div class="col-md-12 text-center">
													<button type="submit" class="btn btn-primary">提 交</button>
													<a href="{:url('role/index')}" class="btn btn-outline-info">返 回</a> 
												</div>
											</div>
										</form>
										<iframe id="addfile_iframe" src="" name="addfile" style="display: none;" frameborder="0"></iframe>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-xl-2 col-md-12 col-sm-12"></div>
							
						</div>

					</section>
				</div>
				</block>
			</div>
		</div>

			
		{include file="public:js"}
		<block name="js">
			<script>
				window.onload = function(){ 
			        var obj = document.getElementById('demo').getElementsByTagName('input'); 
			        for(var i = 0; i < obj.length; i ++) { 
			            obj[i].onclick = function() { //查找并选择/取消选择所有子项 
			            	var childrenObj = this.parentNode.getElementsByTagName('ul');
			               	if (childrenObj.length > 0){ 
			                	for (var j = 0;j < childrenObj.length; j ++){ 
			                  		var o = childrenObj[j].getElementsByTagName('input'); 
			                  		for (var k = 0; k < o.length; k ++)
			                  			o[k].checked = this.checked; 
			                  	} 
			                } //递归方法检查并设置父选项选择状态 
			                checkParent(this); 
			            } 
			        } 
			    } 
			    function checkParent(obj) { 
			        var parentObj = obj.parentNode.parentNode; 
			        if (parentObj.id != 'demo'){ 
			        	parentObj = parentObj.parentNode; var FLAG = false; // true表示父级选项的所有子选项存在选中的，初始值为false，假设全部未选中 
			            var o = parentObj.getElementsByTagName('input'); 
			            for (var i = 1; i < o.length; i ++) { 
			            	if (o[i].checked) { FLAG = true; break; 
			            }
			        }
			        if (FLAG) o[0].checked = true;
			        else o[0].checked = false; 
			        if (parentObj.parentNode.parentNode.id != 'demo') 
			        	checkParent(o[0]); 
			        } 
			    } 
				
				$("#form").submit(function(){
					var id = document.getElementById("id").value;//找到元素，假如给input元素加了id属性 且 值为:text
					// var text = inputDom.value; 
					var t = $('#form').serializeArray(); // 默认是json 格式               

					//传统的for循环,将值打印出来    
					var d=[];
					for (var i = 1;i<t.length;i++) {
						d[i-1] = t[i].value;
					}
					var str=d.join();
					$.ajax({
						type:'post',
						url:"{:url('/admin/role/store')}",
						data:{'data':str,'id':id},
						dataType:'json',
						success:function(data){
							if(data.status==1){
								toastr.success('', data.msg);
								// $(".cards").load(location.href+".cards");
								setTimeout("window.history.back(-1)",1000);//设置延迟时间执行
							}else{
								toastr.error('', data.msg);
							}
						},
						error:function(msg){
							
							toastr.error('请联系管理员', '系统错误');
							
						}
					})
				
				});

			</script>
			<!--DataTables css-->
			<script src="__STATIC__/plugins/Datatable/js/jquery.dataTables.js"></script>
			<script src="__STATIC__/plugins/Datatable/js/dataTables.bootstrap4.js"></script>

			<!--Select2 js-->
			<script src="__STATIC__/plugins/select2/select2.full.js"></script>

			<!--Inputmask js-->
			<script src="__STATIC__/plugins/inputmask/jquery.inputmask.js"></script>

			<!--Moment js-->
			<script src="__STATIC__/plugins/moment/moment.min.js"></script>

			<!--Bootstrap-daterangepicker js-->
			<script src="__STATIC__/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

			<!--Bootstrap-datepicker js-->
			<script src="__STATIC__/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

			<!--Bootstrap-colorpicker js-->
			<script src="__STATIC__/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>

			<!--Bootstrap-timepicker js-->
			<script src="__STATIC__/plugins/bootstrap-timepicker/bootstrap-timepicker.js"></script>

			<!--iCheck js-->
			<script src="__STATIC__/plugins/iCheck/icheck.min.js"></script>

			<!--forms js-->
			<script src="__STATIC__/js/forms.js"></script>
		</block>
	</body>
</html>