{include file="publics/head"}
<section class="section section-2">
	<div class="container">
		<div class="row">
			<div class="single-page single-pageimage construction-bg cover-image " data-image-src="__STATIC__/img/news/img14.jpg">
			    <div class="row">
			        <div class="col-lg-6">
			            <div class="wrapper wrapper2">
							<form id="login" class="card-body" tabindex="500" method="post" >
								<h3>LOGIN</h3>
								<div class="mail">
									<input type="" name="email">
									<label>username/email</label>
								</div>
								<div class="passwd">
									<input type="password" name="password">
									<label>password</label>
								</div>
								<div class="mail">
									<input type="text" name="code" style="width: 100px;margin-right: 200px">
			<!--                                                <img src="{:captcha_src()}" onclick="this.src='{:captcha_src()}?'+Math.random()" style="margin-left: 100px;margin-top: -60px"/>-->
			                        <img src="{:url('admin/login/verify')}" onclick="changeCode(this)" style="margin-left: 100px;margin-top: -60px"/>
									<label>Verification</label>
								</div>
								<div class="submit">
									<input class="btn btn-primary btn-block" value="Login" type="submit">
								</div>
								<p class="mb-2"><a href="{:url('login/forget')}" >Forgot Your Password?</a></p>
							</form>

						</div>
					</div>
					<div class="col-lg-6">
						<div class="log-wrapper text-center">
							<h3>Welcome</h3>
							<h3>Login background system</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{include file="publics/footer"}							