<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kharna-Admin Dashboard</title>
        <!--Favicon -->
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <!--Bootstrap.min css-->
        <link rel="stylesheet" href="__STATIC__/plugins/bootstrap/css/bootstrap.min.css">
        <!--Icons css-->
        <link rel="stylesheet" href="__STATIC__/css/icons.css">
        <!--Style css-->
        <link rel="stylesheet" href="__STATIC__/css/style.css">
        <!--mCustomScrollbar css-->
        <link rel="stylesheet" href="__STATIC__/plugins/scroll-bar/jquery.mCustomScrollbar.css">
        <!--Sidemenu css-->
        <link rel="stylesheet" href="__STATIC__/plugins/toggle-menu/sidemenu.css">
        <!--Toastr css-->
        <link rel="stylesheet" href="__STATIC__/plugins/toastr/build/toastr.css">
        <link rel="stylesheet" href="__STATIC__/plugins/toaster/garessi-notif.css">
    </head>
    <body class="bg-primary">
        <div id="app">
            
                
                        